*{
  margin:0;
  padding:0;
}
html, body{
  height:100%;
}
  
body{
  background-color:rgba(160, 57, 57, 0.849);
  background-image:url(https://townsquare.media/site/366/files/2015/08/Apocalypse1-630x420.jpg?w=980&q=75);
  background-position:center;
  background-size:cover;
  background-blend-mode:soft-light;
  /* width:600px;
  height:300px;
  margin:auto; */
  /* position:absolute; */
  top:0px; bottom:0px; right:0px; left:0px;
}

/* header{
  width:600px;
  height:300px;
  margin:auto;
  position:absolute;
  top:0px; bottom:0px; right:0px; left:0px;
  } */
h1{
  display: block;
  text-align: center;
  color:white;
  font-size:70pt;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bolder;
}

h2{
  display:block;
  margin-top:0px;
  text-align: center;
  color:white;
  font-size:25pt;
  font-family:"Arial Black", Gadget, sans-serif;
}

h5{
  display:block;
  margin-top:50px;
  text-align: center;
  color:white;
  font-size:12pt;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* form {
  margin: 20px auto;
  display:block;
  width: 420px;
  height:50px;
  background-color:rgba(255,255,255,0);
  color:white;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  border-radius: 5px;

  transition: background-color 1000ms, color 1000ms;
} */

select, input {
  margin: 20px auto;
  display:block;
  width:200px;
  height:50px;
  border:3px solid white;
  background-color:rgba(255,255,255,0);
  color:white;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  border-radius: 5px;

  transition: background-color 1000ms, color 1000ms;
}

.firstRow{
  width: 1200px;
  height: 400px;
  /* transform: translate(-25%); */
  margin: auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
  
.secondRow{
  width: 1200px;
  height: 400px;
  /* transform: translate(-25%, 30%); */
  margin: auto;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
  
  
select:hover{
  background-color:rgba(255,255,255,1);
  color:#222;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  cursor:pointer;

  transition: background-color 1000ms, color 1000ms;
}

input:hover{
  background-color:rgba(255,255,255,1);
  color:#222;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  cursor:pointer;

  transition: background-color 1000ms, color 1000ms;
}