:root {
    --gradient: linear-gradient(45deg, #616161
    0%, #660000 100%);
    --long: 0.7s;
    --short: 0.2s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.card {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 25px;
    margin-left: 25px;
    width: 300px;
    height: 470px;
    background-color: #ffffff;
    border-radius: 25px;
    display: grid;
    grid-template-rows: auto 100px;
    box-shadow: 0 50px 35px #00000080;
    position: relative;
    overflow: hidden;
}

.image-box {
    width: 300px;
    position: relative;

}

.debrisshelter-image {
    position: absolute;
    height: 82%;
    left: 50%;
    transform: translate(-50%);
    transition: var(--long);
}

.bottom {
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 300px;
    position: relative;
    background-color: #ddc3c3;
    color: #363636;
    transition: var(--long);
}

.name {
    font-weight: bold;
    font-size: 26px;
    line-height: 26px;
    z-index: 1;
    transition: var(--long);

}

.designation {
    margin-top: 5px;
    font-size: 18px;
    line-height: 14px;
    z-index: 1;
    transition: var(--long);

}

.btn {
    padding-top: 8px;
    position: absolute;
    width: 105px;
    height: 38px;
    background: var(--gradient);
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    color: #fff; 
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    z-index: 2;
    transition: var(--long);
}

.btn-text {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    transition: var(--long);
}

.cardback {
    padding: 20px;
    position: absolute;
    background-color: transparent;
    top: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
    transition: var(--long);
}


.card.active .name, .card.active .designation {
    transform: translateY(-310px);
    color: #fff;
}

.card.active .bottom {
    background-color: transparent; 
}

.card.active .btn {
    transform: translate(-50%, 30px);
}

.card.active .debrisshelter-image {
    height: 180%;
    transform: translate(-65%, -30%)
}

.card.active .btn-text {
    transform: translateY(-27px);
}

.card.active .debrisquote {
    transform: translateY(90px);
}

.card.active .debrisauth {
    transform: translate(88px, 85px);
}

.card.active .cardback {
    top: 0;
    background-color: #000000cc;
}